@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Exiware</h1>
    <p class="lead">Sistema de inventario</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sucursal</h2>
        <p>
            Registrar sucursal
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    
</div>